.test-section{
    background-color: #E2E2E2;
    height: 100vh;
}
.testmon-section h1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 70px;
    padding: 80px 0 20px 0;
}
.testmon-section h2{
    background-color: black;
    
    position: relative;
}
.testmon-section h2::after{
    position:absolute;
    right: 760px;
    height: 3px;
    width: 180px;
    content: "";
    background-color: #1E1E1E9E;
    /* font-weight: lighter; */
    
}
.testmon-section h3 {
    font-size: 30px;
    /* display: flex; */
    /* flex-direction:row; */
}
.test-star{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* align-items: end; */
    padding:60px 0 30px 0 ;

}

.test-lorem{
    font-size: 60px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.test-img{
   display: flex;
   flex-direction: column;
   /* justify-content: center;  */
   align-items: center;
   padding: 80px 0 ;
   
}
.test-img img{
    width: 124px;
    height: 124px; 
}